body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
#map {
    border: 2px solid #333;
    width:80vw;
    height: 80vh;
}

#location {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
}